
{#<div class="row">#}
{#    <div class="col-12 text-center py-3">#}
{#        <img class="border border-dark" src="{{ asset('images/pr1.png') }}" width="100%" style="max-width: 768px;">#}
{#    </div>#}
{#</div>#}
