
<h1 class="border-bottom h2 mb-5 p-2">Datenschutzerklärung</h1>

<h2 class="h3">Allgemeiner Hinweis und Pflichtinformationen</h2>
<h3 class="h4">Benennung der verantwortlichen Stelle</h3>
<p>Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</p>
<img src="{{ asset('images/photos-256889_1280.jpg') }}" class="ms-0 ms-lg-3 mb-2 float-md-end" style="width: 100%;max-width: 520px;">
<p>
    <h4 class="pt-2"><span class="text-primary">subcore.dev</span>elopment</h4>
    c/o Nadine Konietzny<br>
    Richardstrasse 24<br>
    59071 Hamm<br>
</p>
<p>Die verantwortliche Stelle entscheidet allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z.B. Namen, Kontaktdaten o. Ä.).</p>
<h3 class="h4">Widerruf Ihrer Einwilligung zur Datenverarbeitung</h3>
<p>Nur mit Ihrer ausdrücklichen Einwilligung sind einige Vorgänge der Datenverarbeitung möglich. Ein Widerruf Ihrer bereits erteilten Einwilligung ist jederzeit möglich. Für den Widerruf genügt eine formlose Mitteilung per E-Mail. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt.</p>
<h3 class="h4">Recht auf Beschwerde bei der zuständigen Aufsichtsbehörde</h3>
<p>Als Betroffener steht Ihnen im Falle eines datenschutzrechtlichen Verstoßes ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu. Zuständige Aufsichtsbehörde bezüglich datenschutzrechtlicher Fragen ist der Landesdatenschutzbeauftragte des Bundeslandes, in dem sich der Sitz unseres Unternehmens befindet. Der folgende Link stellt eine Liste der Datenschutzbeauftragten sowie deren Kontaktdaten bereit: <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html" target="_blank">https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html</a>.</p>
<h3 class="h4">Recht auf Datenübertragbarkeit</h3>
<p>Ihnen steht das Recht zu, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines Vertrags automatisiert verarbeiten, an sich oder an Dritte aushändigen zu lassen. Die Bereitstellung erfolgt in einem maschinenlesbaren Format. Sofern Sie die direkte Übertragung der Daten an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist.</p>
<h3 class="h4">Recht auf Auskunft, Berichtigung, Sperrung, Löschung</h3>
<p>Sie haben jederzeit im Rahmen der geltenden gesetzlichen Bestimmungen das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, Herkunft der Daten, deren Empfänger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung, Sperrung oder Löschung dieser Daten. Diesbezüglich und auch zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit über die im Impressum aufgeführten Kontaktmöglichkeiten an uns wenden.</p>
<h3 class="h4">SSL- bzw. TLS-Verschlüsselung</h3>
<p>Aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, die Sie an uns als Seitenbetreiber senden, nutzt unsere Website eine SSL-bzw. TLS-Verschlüsselung. Damit sind Daten, die Sie über diese Website übermitteln, für Dritte nicht mitlesbar. Sie erkennen eine verschlüsselte Verbindung an der „https://“ Adresszeile Ihres Browsers und am Schloss-Symbol in der Browserzeile.</p>

<h2 class="h3">Server-Log-Dateien</h2>
<p>In Server-Log-Dateien erhebt und speichert der Provider der Website automatisch Informationen, die Ihr Browser automatisch an uns übermittelt. Dies sind:</p>
<ul>
    <li>
        <p>Besuchte Seite auf unserer Domain</p>
    </li>
    <li>
        <p>Datum und Uhrzeit der Serveranfrage</p>
    </li>
    <li>
        <p>Browsertyp und Browserversion</p>
    </li>
    <li>
        <p>Verwendetes Betriebssystem</p>
    </li>
    <li>
        <p>Referrer URL</p>
    </li>
    <li>
        <p>Hostname des zugreifenden Rechners</p>
    </li>
    <li>
        <p>IP-Adresse</p>
    </li>
</ul>
<p>Diese Daten sind für uns technisch erforderlich, um Ihnen unsere Website anzuzeigen und die Stabilität und Sicherheit zu gewährleisten. (Rechtsgrundlage der Datenverarbeitung bildet Art. 6 Abs. 1 lit. f DSGVO) Es findet keine Zusammenführung dieser Daten mit anderen Datenquellen statt.</p>

<h2 class="h3">Cookies</h2>
<p>Cookies werden nicht verwendet.</p>



{#<h2 class="h3">Kontaktformular</h2>#}
{#<p>Per Kontaktformular übermittelte Daten werden einschließlich Ihrer Kontaktdaten gespeichert, um Ihre Anfrage bearbeiten zu können oder um für Anschlussfragen bereitzustehen. Eine Weitergabe dieser Daten findet ohne Ihre Einwilligung nicht statt.</p>#}
{#<p>Je nach Art der Anfrage ist die Rechtsgrundlage für diese Verarbeitung Art. 6 Abs. 1 lit. b DSGVO für Anfragen, die Sie selbst im Rahmen einer vorvertraglichen Maßnahme stellen oder Art. 6 Abs. 1 S. 1 lit. f DSGVO, wenn Ihre Anfrage sonstiger Art ist. Sollten personenbezogene Daten abgefragt werden, die wir nicht für die Erfüllung eines Vertrages oder zur Wahrung berechtigter Interessen benötigen, erfolgt die Übermittlung an uns auf Basis einer von Ihnen abgegebenen Einwilligung nach Art. 6 Abs. 1 lit. a DSGVO.t vom Widerruf unberührt.</p>#}
{#<p>Über das Kontaktformular übermittelte Daten verbleiben bei uns, bis Sie uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder keine Notwendigkeit der Datenspeicherung mehr besteht. Zwingende gesetzliche Bestimmungen - insbesondere Aufbewahrungsfristen - bleiben unberührt.</p>#}


{#<h2 class="h3">Matomo</h2>#}
{#<h3 class="h4">Art und Umfang der Verarbeitung</h3>#}
{#<p>Wir nutzen auf unserer Website das Open-Source-Software-Tool Matomo (ehemals PIWIK). Die Software setzt ein Cookie in Ihrem Browser (zu Cookies siehe bereits oben). Werden Einzelseiten unserer Website aufgerufen, so werden folgende Daten gespeichert:</p>#}
{#<ul>#}
{#    <li>#}
{#        <p>Zwei Bytes der IP-Adresse des aufrufenden Systems des Nutzers (anonymisierte IP-Adresse)</p>#}
{#    </li>#}
{#    <li>#}
{#        <p>Die aufgerufene Webseite</p>#}
{#    </li>#}
{#    <li>#}
{#        <p>Die Website, von der der Nutzer auf die aufgerufene Webseite gelangt ist (Referrer)</p>#}
{#    </li>#}
{#    <li>#}
{#        <p>Die Unterseiten, die von der aufgerufenen Webseite aus aufgerufen werden</p>#}
{#    </li>#}
{#    <li>#}
{#        <p>Die Verweildauer auf der Webseite</p>#}
{#    </li>#}
{#    <li>#}
{#        <p>Die Häufigkeit des Aufrufs der Webseite</p>#}
{#    </li>#}
{#</ul>#}
{#<p>Die Software läuft dabei ausschließlich auf den Servern unserer Website. Eine Speicherung Ihrer personenbezogenen Daten findet nur dort statt. Eine Weitergabe der Daten an Dritte erfolgt nicht.</p>#}
{#<h3 class="h4">Zweck und Rechtsgrundlage</h3>#}
{#<p>Wir verarbeiten Ihre Daten mit Hilfe der Analysesoftware Matomo zum Zweck der Auswertung der Nutzung einzelner Komponenten und Inhalte unserer Website auf Grundlage Ihrer Einwilligung gem. Art. 6 Abs. 1 lit. a DSGVO und § 25 Abs. 1 TDDDG. Ihre Einwilligung erteilen Sie durch Einstellung zum Einsatz von Cookies (Cookie-Banner / Consent Manager), mit der Sie auch jederzeit mit Wirkung für die Zukunft Ihren Widerruf gem. Art. 7 Abs. 3 DSGVO erklären können. Es besteht keine gesetzliche oder vertragliche Pflicht zur Bereitstellung Ihrer Daten. Sofern Sie uns Ihre Einwilligung nicht erteilen, ist ein Besuch unserer Website ohne Einschränkung möglich, jedoch stehen ggf. nicht alle Funktionen vollumfänglich zur Verfügung.</p>#}
{#<h3 class="h4">Speicherdauer</h3>#}
{#<p>Die konkrete Speicherdauer der gesetzten Cookies beträgt 13 Monate.</p>#}


{#<h2 class="h3">Google AdSense</h2>#}
{#<p>Unsere Website verwendet Google AdSense. Anbieter ist die Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.</p>#}
{#<p>Google AdSense dient der Einbindung von Werbeanzeigen und setzt Cookies. Cookies sind kleine Textdateien, die Ihr Webbrowser auf Ihrem Endgerät speichert, um die Nutzung der Website analysieren. Google AdSense setzt außerdem Web Beacons ein. Web Beacons sind unsichtbare Grafiken, die eine Analyse des Besucherverkehrs auf unserer Wesite ermöglichen.</p>#}
{#<p>Durch Cookies und Web Beacons erzeugten Informationen werden an Server von Google übertragen und dort gespeichert. Serverstandort sind die USA. Google kann diese Informationen an Vertragspartner weiterreichen. Ihre IP-Adresse wird Google jedoch nicht mit anderen von Ihnen gespeicherten Daten zusammenführen.</p>#}
{#<p>Die Speicherung von AdSense-Cookies erfolgt auf Grundlage Ihrer Einwilligung gemäß Art. 6 Abs. 1 lit. a. DSGVO und §25 Abs. 1 TDDDG. Wir beabsichtigen personenbezogenen Daten an Drittländer außerhalb des Europäischen Wirtschaftsraums, insbesondere die USA, zu übermitteln. Die Datenübermittlung in die USA erfolgt nach Art. 45 Abs. 1 DSGVO auf Grundlage des Angemessenheitsbeschluss der Europäischen Kommission. Die beteiligten US-Unternehmen und/oder deren US-Unterauftragnehmer sind nach dem EU-U.S. Data Privacy Framework (EU-U.S. DPF) zertifiziert.</p>#}
{#<p>Mit einem modernen Webbrowser können Sie das Setzen von Cookies überwachen, einschränken und unterbinden. Die Deaktivierung von Cookies kann eine eingeschränkte Funktionalität unserer Website zur Folge haben. Durch die Nutzung unserer Website erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise sowie dem zuvor benannten Zweck einverstanden.</p>#}

