
<div class="text-center">
    <h1 class="border-bottom h2 mb-5 p-2">Anbieterkennzeichnung</h1>
    <div class="text-start">Angaben gemäß § 5 DDG:</div>
    <h4 class="pt-2"><span class="text-primary">subcore.dev</span>elopment</h4><br>
    c/o Nadine Konietzny<br>
    Richardstrasse 24<br>
    59071 Hamm<br>
    <h4 class="mt-5">Kontakt</h4>
    E-Mail: kontakt@minutenbild.de<br>
    Telefon: 023883075713<br>
    <br>
{#    <h4 class="mt-5">Kontaktformular</h4>#}


</div>
