{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid container-lg text-center py-5">
        <div class="text-danger py-5">Oops! An Error Occurred</div>
    </div>
{% endblock %}



